.chartContainer {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #f2f4f8;
  width: 1420px;
}

.chartContainer > * {
  flex: 1;
}

.logoChartTop {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 100px 5px;
  background-size: 40px auto;
  opacity: 0.3;
}

.logoChartLeft {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 145px 140px;
  background-size: 40px auto;
  opacity: 0.3;
}

.logoChartRight {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 839px 140px;
  background-size: 40px auto;
  opacity: 0.3;
}

table {
  width: 100%;
  font-size: 0.8rem;
  border-spacing: 0;
}

tr {
  text-align: left;
  border: 1px solid #00b0f0;
}

th,
td {
  padding: 10px;
  border: 1px solid #00b0f0;
  border-left: none;
  border-top: none;
}

th:first-child,
td:first-child {
  border-left: 1px solid #00b0f0;
}

tr:first-child > th {
  border-top: 1px solid #00b0f0;
  padding: 5px 4px;
}

tr:first-child {
  text-align: center;
  background-color: #f2f4f8;
}

tr:nth-child(even) {
  background: #f2f4f8;
}

tr:nth-child(2) > td:nth-child(n + 3) {
  text-align: right;
}

#doanhThuId tr:nth-child(n + 2) > td:nth-child(n + 2) {
  text-align: right;
}

#loiNhuanId tr:nth-child(n + 2) > td:nth-child(n + 2) {
  text-align: right;
}

#ketQuaQuyId tr:first-child > th:nth-child(9),
#ketQuaQuyId tr:first-child > th:nth-child(14) {
  background-color: #d5def1;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.content > * {
  margin: 5px;
  flex: 1;
}

.contentTitle {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 4px;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.rateContainer {
  display: flex;
  flex-direction: column;
}

.rateContainer > span {
  flex: 1;
  align-self: flex-end;
}

.rateCompare {
  font-size: 0.85em;
}

.bg-title {
  background: #d5def1;
}

.minus {
  color: #fa0011;
  border-radius: 4px;
  padding: 2px 10px;
  position: relative;
}

.minus::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1px;
  margin-top: -5px;
  border-width: 4px 0 4px 8px;
  border-style: solid;
  border-color: transparent transparent transparent #fa0011;
  transform: rotate(90deg);
}

.plus {
  color: #00a37d;
  border-radius: 4px;
  padding: 2px 10px;
  position: relative;
}

.plus::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1px;
  margin-top: -5px;
  border-width: 4px 0 4px 8px;
  border-style: solid;
  border-color: transparent transparent transparent #00a37d;
  transform: rotate(-90deg);
}

.neutral {
  color: green;
  border-radius: 4px;
  padding: 2px 4px;
}
