.chartContainer {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #f5f5f5;
  width: 1700px;
}

.chartContainer>* {
  flex: 1;
}

.logoChartTop {
  background-image: url('./Dofin.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 114px 4px;
  background-size: 53px auto;
  opacity: 0.3;
}

.logoChartLeft {
  background-image: url('./Dofin.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 80px 90px;
  background-size: 85px auto;
  opacity: 0.3;
}

.logoChartRight {
  background-image: url('./Dofin.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: 935px 90px;
  background-size: 85px auto;
  opacity: 0.3;
}

table {
  width: 100%;
  font-size: 0.8rem;
  border-spacing: 0;
}

tr {
  text-align: left;
  border: 1px solid #00B0F0;
}

th,
td {
  padding: 10px;
  border: 1px solid #00B0F0;
  border-left: none;
  border-top: none;
}

th:first-child,
td:first-child {
  border-left: 1px solid #00B0F0;
}

tr:first-child>th {
  border-top: 1px solid #00B0F0;
}

tr:first-child {
  text-align: center;
  background-color: #F2C010;
}

tr:nth-child(even) {
  background: #FFF;
}

tr:nth-child(2)>td:nth-child(n + 3) {
  text-align: right;
}

#doanhThuId tr:nth-child(n + 2) > td:nth-child(n + 2) {
  text-align: right;
}

#loiNhuanId tr:nth-child(n + 2) > td:nth-child(n + 2) {
  text-align: right;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.content > * {
  margin: 5px;
  flex: 1;
}

.contentTitle {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 4px;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.rateContainer {
  display: flex;
  flex-direction: column;
}

.rateContainer > span {
  flex: 1;
  align-self: flex-end;
}

.rateCompare {
  font-size: 0.8em;
  font-style: italic;
}

.bg-title {
  background: rgb(0 204 255);
  ;
}

.minus {
  color: red;
  background-color: #1abc9c;
  border-radius: 4px;
  padding: 2px 4px;
}

.plus {
  color: #7373d7;
  background-color: #f9ebdc;
  border-radius: 4px;
  padding: 2px 4px;
}

.neutral {
  color: green;
  font-size: 0.8em;
}